fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
pydantic-settings
alembic
psycopg2-binary
asyncpg
redis
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
email-validator
apscheduler
httpx
gocardless-pro
slowapi
reportlab
bcrypt==3.2.2
